/* Contenedor del login */
.login-container {
    display: flex;                     /* Usar flexbox */
    justify-content: center;           /* Centrar horizontalmente */
    align-items: center;               /* Centrar verticalmente */
    height: 100%;                      /* Ocupar toda la altura */
}

/* Estilo para la caja de login */
.login-box {
    display: flex;
    flex-direction: column;            /* Colocar elementos en columna */
    justify-content: center;           /* Centrar contenido dentro de la caja */
    align-items: center;               /* Centrar elementos dentro de la caja */
    padding: 40px;
    border-radius: 100px;
    border: 5px solid #ffcc00;         /* Borde amarillo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 
                inset 0 0 10px rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 400px;                 /* Ancho máximo para la caja */
    background-color: black;           /* Fondo de la caja de login */
    text-align: center;                /* Centrar texto */
}

/* Título de la caja de login */
.login-box h2 {
    font-size: 3.5em;
    font-weight: bolder;
    color: #ffcc00;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Responsividad para tablets */
@media (max-width: 768px) {
    .login-container {
        max-width: 90%; /* Ancho máximo para la caja en tabletas */
    }
    .login-box h2 {
        font-size: 2.5em; /* Ajustar tamaño del título */
    }
}

/* Responsividad para móviles */
@media (max-width: 480px) {
    .login-box h2 {
        font-size: 2em; /* Ajustar tamaño del título */
    }
    button {
        font-size: 1.2em; /* Ajustar tamaño del botón */
    }
}