header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: white;

  nav button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #61dafb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
    align-items: center;

    &:hover {
      background-color: #21a1f1;
    }
  }
}

button {
  font-family: "Barriecito", system-ui;
  font-size: 1.6em;
  padding: 16px 24px;
  border-radius: 999px;
  border: 3px solid rgba(0, 0, 0, 0.8);
  background: linear-gradient(
    180deg,
    #505271 0%,
    #5b5e82 100%
  );
  color: #fff;
  cursor: pointer;

  /* Profundidad */
  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.7),
    0 10px 20px rgba(0, 0, 0, 0.6);

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background 0.2s ease,
    color 0.2s ease;
}

/* Hover */
button:hover {
  background: linear-gradient(
    180deg,
    #ffdd55 0%,
    #ffb700 100%
  );
  color: #000;

  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.6),
    0 0 20px rgba(255, 205, 55, 0.9);
}