button {
  background: linear-gradient(
    180deg,
    #505271 0%,
    #5b5e82 100%
  );
}

/* Hover */
button:hover {
  background: linear-gradient(
    180deg,
    #ffdd55 0%,
    #ffb700 100%
  );
  color: #000;

  box-shadow:
    0 6px 0 rgba(0, 0, 0, 0.6),
    0 0 20px rgba(255, 205, 55, 0.9);
}